includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - bootstrap/
        - config/
        - database/
        - routes/
        - tests/

    # Level 9 is the highest level
    level: max

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Testing\\TestResponse::assertSeeLivewire\(\)#'
